MERIDIAN_DB_PATH=./meridian.db
MERIDIAN_BOOTSTRAP_ADMIN=admin
MERIDIAN_BOOTSTRAP_PASSWORD=change-this
MERIDIAN_SESSION_HOURS=8
MERIDIAN_SECURE_COOKIES=false
MERIDIAN_ENROLLMENT_MINUTES=30
MERIDIAN_HOST=127.0.0.1
MERIDIAN_PORT=8800
