ATLAS_DB_PATH=./atlas.db
ATLAS_BOOTSTRAP_ADMIN=admin
ATLAS_BOOTSTRAP_PASSWORD=change-this
ATLAS_SESSION_HOURS=8
ATLAS_SECURE_COOKIES=false
ATLAS_ENROLLMENT_MINUTES=30
ATLAS_HOST=127.0.0.1
ATLAS_PORT=8800
